
CREATE PROCEDURE [dbo].[SP_MANTENIMIENTO_REVISA_CIERRE] 
    @CODIGOHOT  VARCHAR (5),
  @FECHA datetime

/*garrido*/
AS 
BEGIN

 
  DECLARE @ERROR VARCHAR (500)
  DECLARE @IDCIERRE INT
  DECLARE @CODPROCESO VARCHAR (20)
  DECLARE @ORDEN INT
  DECLARE @INICIO DATETIME
  DECLARE @FIN DATETIME
  --SET @CODIGOHOT ='003'
  --SET @FECHA ='18/02/2018'
  DECLARE @GET_STORED VARCHAR (100);
  DECLARE @SQL_SP VARCHAR (100);
  DECLARE @CODERROR int;
  DECLARE @ID INT;


  DECLARE CURSOR_CIERRES CURSOR LOCAL FOR
     SELECT TPC.SP_EJECUCION , HCL.ID , HCCP.FK_CODPROCESO, HCCP.ORDEN FROM HOTEL_CIERRE_LOG HCL
        JOIN HOTEL_CONFIG_CIERRE_PROCESOS HCCP
		   ON HCCP.FK_CODIGOHOT = HCL.FK_CODIGOHOT
		   LEFT JOIN HOTEL_CIERRE_PROCESOS_LOG HCPL
		        ON HCPL.FK_CODPROCESO = HCCP.FK_CODPROCESO AND HCPL.FK_ID_HOTEL_PROCESO_CIERRE = HCL.ID 
     	       LEFT JOIN TIPO_PROCESOS_CIERRE TPC
     	          ON TPC.CODPROCESO = HCCP.FK_CODPROCESO
     WHERE HCL.FK_CODIGOHOT = @CODIGOHOT  AND HCL.FECHAHOTEL = @FECHA  AND SP_EJECUCION IS NOT NULL AND TIPO_PROCESO <> 'P'  AND HCPL.FECHAHORA_FIN IS NULL
     AND HCCP.ACTIVO = '1'    
	ORDER BY HCCP.ORDEN 
	
	SET @IDCIERRE =  (SELECT top 1 HCL.ID  FROM HOTEL_CIERRE_LOG HCL
                       JOIN HOTEL_CONFIG_CIERRE_PROCESOS HCCP
		              ON HCCP.FK_CODIGOHOT = HCL.FK_CODIGOHOT
		              LEFT JOIN HOTEL_CIERRE_PROCESOS_LOG HCPL
		                   ON HCPL.FK_CODPROCESO = HCCP.FK_CODPROCESO AND HCPL.FK_ID_HOTEL_PROCESO_CIERRE = HCL.ID 
     	                  LEFT JOIN TIPO_PROCESOS_CIERRE TPC
     	                     ON TPC.CODPROCESO = HCCP.FK_CODPROCESO
                         WHERE HCL.FK_CODIGOHOT = @CODIGOHOT  AND HCL.FECHAHOTEL = @FECHA  AND SP_EJECUCION IS NOT NULL AND TIPO_PROCESO <> 'P'  
                         AND HCCP.ACTIVO = '1'    
	                    )
	 --IF NOT EXISTS (SELECT ID FROM [HOTEL_CIERRE_PROCESOS_LOG]  WHERE [FK_ID_HOTEL_PROCESO_CIERRE] = @IDCIERRE AND FK_CODPROCESO = 'SPCIE30' )
	 --BEGIN
	 INSERT INTO HOTEL_CIERRE_PROCESOS_LOG SELECT @IDCIERRE, FK_CODPROCESO, ORDEN, GETDATE(), GETDATE(), 999,null FROM HOTEL_CONFIG_CIERRE_PROCESOS  HCCP
	 LEFT JOIN TIPO_PROCESOS_CIERRE TPC
	 ON HCCP.FK_CODPROCESO = TPC.CODPROCESO
	 WHERE FK_CODIGOHOT = @CODIGOHOT AND SP_EJECUCION IS NULL 
	 AND FK_CODPROCESO NOT IN  ( SELECT FK_CODPROCESO FROM HOTEL_CIERRE_PROCESOS_LOG WHERE FK_ID_HOTEL_PROCESO_CIERRE = @IDCIERRE)
	 --END


  OPEN CURSOR_CIERRES 
  FETCH NEXT FROM  CURSOR_CIERRES 
    INTO @GET_STORED , @IDCIERRE , @CODPROCESO, @ORDEN 

  WHILE (@@FETCH_STATUS = 0) 
  BEGIN 

      BEGIN TRY  
	  SET @ERROR = NULL
	  SET @INICIO = GETDATE () 
        EXECUTE  @GET_STORED 
        @CODIGOHOT
       ,@FECHA
       ,@CODERROR OUTPUT 
      END TRY
      BEGIN CATCH
      SELECT ERROR_MESSAGE()
      SET @ERROR = ERROR_MESSAGE()
      END CATCH
      
      IF @ERROR <> ''
      BEGIN
        SET @FIN = NULL
	    IF EXISTS (SELECT * FROM HOTEL_CIERRE_PROCESOS_LOG WHERE FK_ID_HOTEL_PROCESO_CIERRE=@IDCIERRE AND FK_CODPROCESO = @CODPROCESO)
		   BEGIN
           UPDATE HOTEL_CIERRE_PROCESOS_LOG SET FECHAHORA_FIN = @FIN WHERE FK_ID_HOTEL_PROCESO_CIERRE=@IDCIERRE AND FK_CODPROCESO = @CODPROCESO
        END ELSE 
		   BEGIN
		   INSERT INTO HOTEL_CIERRE_PROCESOS_LOG VALUES (@IDCIERRE, @CODPROCESO, @ORDEN, @INICIO, @FIN, @CODERROR,null)
		   END
       END ELSE 		
       SET @FIN = GETDATE () 
	    IF EXISTS (SELECT * FROM HOTEL_CIERRE_PROCESOS_LOG WHERE FK_ID_HOTEL_PROCESO_CIERRE=@IDCIERRE AND FK_CODPROCESO = @CODPROCESO)
		   BEGIN
           UPDATE HOTEL_CIERRE_PROCESOS_LOG SET FECHAHORA_FIN = @FIN WHERE FK_ID_HOTEL_PROCESO_CIERRE=@IDCIERRE AND FK_CODPROCESO = @CODPROCESO
        END ELSE 
		   BEGIN
		   INSERT INTO HOTEL_CIERRE_PROCESOS_LOG VALUES (@IDCIERRE, @CODPROCESO, @ORDEN, @INICIO, @FIN, @CODERROR,null)
		   END
        																																						
	  

    FETCH NEXT FROM CURSOR_CIERRES 
      INTO @GET_STORED  , @IDCIERRE , @CODPROCESO, @ORDEN
  END 
  CLOSE CURSOR_CIERRES 
  DEALLOCATE CURSOR_CIERRES



DECLARE @RC int
DECLARE @pHOTEL varchar(3) = @CODIGOHOT
DECLARE @pDESDE datetime = @FECHA
DECLARE @pHASTA datetime =@FECHA

 update HOTEL_CIERRE_LOG SET FECHAHORA_FIN = GETDATE ()
WHERE FK_CODIGOHOT = @CODIGOHOT AND FECHAHOTEL = @FECHA

-- TODO: Establezca los valores de los parámetros aquí.

EXECUTE @RC = [dbo].[SP_FOF_RECONSTRUYE_PRODOCUP] 
   @pHOTEL
  ,@pDESDE
  ,@pHASTA



update HOTEL_CIERRE_LOG SET FECHAHORA_FIN = GETDATE ()
WHERE FK_CODIGOHOT = @CODIGOHOT AND FECHAHOTEL = @FECHA


/*INTRODUCIMOS LOS REGISTROS QUE REALIZA EL EXE */

/*DEPRECATED*/

/* SELECT * FROM HOTEL_CIERRE_LOG_PROCESOS 

 DECLARE CURSOR_CIERRES_EXE CURSOR LOCAL FOR
     SELECT TPC.SP_EJECUCION , HCL.ID , HCCP.FK_CODPROCESO, HCCP.ORDEN FROM HOTEL_CIERRE_LOG HCL
        JOIN HOTEL_CONFIG_CIERRE_PROCESOS HCCP
		   ON HCCP.FK_CODIGOHOT = HCL.FK_CODIGOHOT
		   LEFT JOIN HOTEL_CIERRE_PROCESOS_LOG HCPL
		        ON HCPL.FK_CODPROCESO = HCCP.FK_CODPROCESO AND HCPL.FK_ID_HOTEL_PROCESO_CIERRE = HCL.ID 
     	       LEFT JOIN TIPO_PROCESOS_CIERRE TPC
     	          ON TPC.CODPROCESO = HCCP.FK_CODPROCESO
     WHERE HCL.FK_CODIGOHOT = @CODIGOHOT  AND HCL.FECHAHOTEL = @FECHA  AND SP_EJECUCION IS NULL AND TIPO_PROCESO <> 'P'  AND HCPL.FECHAHORA_FIN IS NULL
     AND HCCP.ACTIVO = '1'    
	ORDER BY HCCP.ORDEN 
	
  OPEN CURSOR_CIERRES_EXE 
  FETCH NEXT FROM  CURSOR_CIERRES_EXE 
    INTO @GET_STORED , @IDCIERRE , @CODPROCESO, @ORDEN

  WHILE (@@FETCH_STATUS = 0) 
  BEGIN 

      BEGIN TRY 
	  SET @INICIO = GETDATE ()
	  SET @FIN = '10/10/2010' 
	  IF EXISTS (SELECT * FROM HOTEL_CIERRE_PROCESOS_LOG WHERE FK_ID_HOTEL_PROCESO_CIERRE=@IDCIERRE AND FK_CODPROCESO = @CODPROCESO)
		   BEGIN
           UPDATE HOTEL_CIERRE_PROCESOS_LOG SET FECHAHORA_FIN = @FIN , FECHAHORA_INICIO = @INICIO WHERE FK_ID_HOTEL_PROCESO_CIERRE=@IDCIERRE AND FK_CODPROCESO = @CODPROCESO
           END
	  INSERT INTO HOTEL_CIERRE_PROCESOS_LOG VALUES (@IDCIERRE, @CODPROCESO, @ORDEN, @INICIO, @FIN, '') 


      END TRY
      BEGIN CATCH
      SELECT ERROR_MESSAGE()
      SET @ERROR = ERROR_MESSAGE()
      END CATCH
      
      
    FETCH NEXT FROM CURSOR_CIERRES_EXE 
      INTO @GET_STORED  , @IDCIERRE , @CODPROCESO, @ORDEN
  END 
  CLOSE CURSOR_CIERRES_EXE 
  DEALLOCATE CURSOR_CIERRES_EXE
  */

END

