
CREATE PROCEDURE [dbo].[SP_INSTALACION_RACK_NULL]
@CODIGOHOT VARCHAR (5),
@ERROR VARCHAR (200) OUTPUT

AS
BEGIN
	SET NOCOUNT ON;

BEGIN TRY
    
    INSERT INTO HOTEL_HABITACION ([FK_CODIGOHOT],[CODHAB],[DESCRIPCION],[FK_TIPOHAB],[CAMAS],[FK_SITUACION],[FK_ESTADO],[ORDEN],[ACTIVA],[DESCHAB],[NUM_CEXTRAS],[NUM_CUNAS],[UNIDAD_DECLARACION],[CUENTA_MAXHAB],[RETENIDA],[FK_CODTIPOHAB_ESTADISTICO])
    VALUES	(@CODIGOHOT,''	,''	,''	,'0','LI','L'	,''	,'1'	,''	,'0','0',NULL,'1','0',NULL)
    INSERT INTO HOTEL_TIPO_HAB ([FK_CODIGOHOT],[CODTIPOHAB],[DESCRIPCION],[FK_CODIGOTIHA],[COMPUESTA],[SUMAPLAN],[ORDEN],[ORDEN_PLANNING],[FK_CODGRUPOTIPOHAB],[SUMAVENTAHAB],[GRUPO_HURDLE])
    VALUES      (@CODIGOHOT,'','','','0','0','10','10',NULL,'0',NULL)
    INSERT INTO HOTEL_MODULO_HAB ([FK_CODIGOHOT],[CODMODHAB],[DESCRIPCION],[CAMAS],[PLANTA],[ZONA],[FK_SITUACION],[FK_TIPOHAB],[ORDEN],[ACTIVO],[DESCMODHAB],[SECCION])
    VALUES 	(@CODIGOHOT	,''	,''	,'0'	,'0'	,'',''	,''	,''	,'0'	,''	,'0')
   
END TRY
BEGIN CATCH
SELECT ERROR_MESSAGE()
SET @ERROR = ERROR_MESSAGE()
END CATCH


IF @ERROR <> ''
 BEGIN
   
   INSERT INTO INSTALACION_LOG_ERROR VALUES (getdate(),@CODIGOHOT,'INSERTAR REG VACIO RACK',@CODIGOHOT,@ERROR)
  END ELSE  INSERT INTO INSTALACION_LOG_ERROR VALUES (getdate(),@CODIGOHOT,'INSERTAR REG VACIO RACK',@CODIGOHOT,'OK');

END


