
CREATE PROCEDURE [dbo].[SP_INSTALACION_RUTAS]
@CODIGOHOT VARCHAR (5),
@COD_OLD VARCHAR (5),  
@CODVOX VARCHAR (10),
@RUTAVOX VARCHAR (250),
@EMPRESA VARCHAR (250),
@CODTRAS VARCHAR (10),
@RUTATRAS VARCHAR (250),
@RUTALOGO VARCHAR (250)

AS
BEGIN
	SET NOCOUNT ON;


DECLARE @CIF_HOTEL VARCHAR (15)
DECLARE @DIRECCION VARCHAR (150)
DECLARE @POBLACION_FISCAL  VARCHAR (25)
DECLARE @CODPOSTAL    VARCHAR (10)
DECLARE @ERROR   VARCHAR (200)
--DECLARE    VARCHAR (50)
--DECLARE    VARCHAR (50)
--DECLARE    VARCHAR (50)
--DECLARE    VARCHAR (50)


BEGIN TRY

/*recogemos datos del hotel para usarlos en los inserts*/
SELECT @CIF_HOTEL = CIF_HOTEL , @DIRECCION = DIRECCION_FISCAL , @POBLACION_FISCAL = POBLACION_FISCAL ,  
       @CODPOSTAL = CODPOSTAL
FROM HOTELES WHERE CODIGOHOT = @CODIGOHOT



IF @EMPRESA = ''
BEGIN 
INSERT INTO [HOTEL_CONFIG_TIPO_FACTURACION]
       ([FK_CODIGOHOT],[FK_CODTIPO_FACTURACION],[IDPROVCLI],[EMPRESA],[CIF]
      ,[DOMICILIO],[POBLACION],[PROVINCIA],[CODIGOPOSTAL],[CODIGOPAIS]
      ,[IDPROV],[EMAIL],[TIPOIMPUESTOS],[RUTA_TRASPASO],[IDHOTEL]
      ,[INCLUIR_VENCIMIENTO],[INICIAL_CLIENTE],[CUENTA_BANCARIA],[VOXEL_WEBBILLING])
SELECT @CODIGOHOT,'VOX',NULL,EMPRESA,@CIF_HOTEL
      ,@DIRECCION,@POBLACION_FISCAL,'',@CODPOSTAL,'ESP'
      ,NULL,NULL,'IVA',@RUTAVOX,@CODVOX
      ,'1','C',NULL,NULL 
	 FROM  [HOTEL_CONFIG_TIPO_FACTURACION] WHERE FK_CODIGOHOT = @COD_OLD 
END
ELSE BEGIN
  
INSERT INTO [HOTEL_CONFIG_TIPO_FACTURACION]
       ([FK_CODIGOHOT],[FK_CODTIPO_FACTURACION],[IDPROVCLI],[EMPRESA],[CIF]
      ,[DOMICILIO],[POBLACION],[PROVINCIA],[CODIGOPOSTAL],[CODIGOPAIS]
      ,[IDPROV],[EMAIL],[TIPOIMPUESTOS],[RUTA_TRASPASO],[IDHOTEL]
      ,[INCLUIR_VENCIMIENTO],[INICIAL_CLIENTE],[CUENTA_BANCARIA],[VOXEL_WEBBILLING])
VALUES (@CODIGOHOT,'VOX',NULL,@EMPRESA,@CIF_HOTEL
      ,@DIRECCION,@POBLACION_FISCAL,'',@CODPOSTAL,'ESP'
      ,NULL,NULL,'IVA',@RUTAVOX,@CODVOX
      ,'1','C',NULL,NULL)
END


INSERT INTO [HOTEL_CONFIG_CONTABLE]
       ([FK_CODIGOHOT],[CODCONTABLEEMPRESA],[CODCONTABLEESTABLECIMIENTO],[TRASPASO_AUTO],[FACTURAS_AGRUPADAS]
      ,[CODTIPODIARIO_PRODUCCION],[CODTIPODIARIO_FACTURACION],[CODTIPODIARIO_COBROS],[CUENTA_CLIENTESCASA],[CUENTA_DESCUENTOS]
      ,[CUENTA_DEPOSITOS],[CUENTA_ANTICIPOS],[CUENTA_CLIENTECERO],[RUTA_TRASPASO],[TIPO_ENLACE_CONTABLE]
      ,[CUENTA_COMISIONES],[CUENTA_DIFERENCIAS],[CODTIPODIARIO_LIQUIDACION_EFECTIVO],[CODTIPODIARIO_LIQUIDACION_TARJETAS],[CODTIPODIARIO_GASTO_CAJA]
      ,[PROYEC],[SECCIO],[JUSSER],[SISTEM],[MONEDA]
      ,[CAMBIO],[PRODUCCION_DEBE_CODIGO],[PRODUCCION_DEBE_TEXTO],[PRODUCCION_HABER_CODIGO],[PRODUCCION_HABER_TEXTO]
      ,[FACTURACION_DEBE_CODIGO],[FACTURACION_DEBE_TEXTO],[FACTURACION_HABER_CODIGO],[FACTURACION_HABER_TEXTO],[COBROS_DEBE_CODIGO]
      ,[COBROS_DEBE_TEXTO],[COBROS_HABER_CODIGO],[COBROS_HABER_TEXTO],[ZONA_FISCAL_EMPRESA],[ZONA_FISCAL_TERCERO]
      ,[CUENTA_COBROS_CREDITO],[BASE_RAIZ],[TAMANYO_RAIZ],[TAMANYO_CODCLIENTE],[PRODUCTO]
      ,[CUENTA_TAX],[SERIE_FACTURACION],[SERIE_ABONO],[TRASPASAR_COBROS_CREDITOS],[CODIDIOMA]
      ,[CUENTA_CITY_TAX],[DESCRIPTIVO_FACTURAS_RECTIFICATIVAS],[TRASPASO_NAVISION_ESPECIAL],[INDICADOR_IVA0],[INDICADOR_IVA1]
      ,[INDICADOR_IVA2],[INDICADOR_IVA3],[CUENTA_PRODUCCION],[CENTRO_COSTE],[GENERAR_CUENTA_CLIENTES_PART],[GENERAR_COMISIONES_FACTURAS]
      ,[INCLUIR_DATOS_SII],[TRASPASO_CONTAPLUS_ESPECIAL],[RUTA_TRASPASO_EXPORTACION],[INDICADOR_EXT_IVA0],[INDICADOR_EXT_IVA1]
      ,[INDICADOR_EXT_IVA2],[INDICADOR_EXT_IVA3])


SELECT @CODIGOHOT,[CODCONTABLEEMPRESA],@CODTRAS,[TRASPASO_AUTO],[FACTURAS_AGRUPADAS]
      ,[CODTIPODIARIO_PRODUCCION],[CODTIPODIARIO_FACTURACION],[CODTIPODIARIO_COBROS],[CUENTA_CLIENTESCASA],[CUENTA_DESCUENTOS]
      ,[CUENTA_DEPOSITOS],[CUENTA_ANTICIPOS],[CUENTA_CLIENTECERO],@RUTATRAS,[TIPO_ENLACE_CONTABLE]
      ,[CUENTA_COMISIONES],[CUENTA_DIFERENCIAS],[CODTIPODIARIO_LIQUIDACION_EFECTIVO],[CODTIPODIARIO_LIQUIDACION_TARJETAS],[CODTIPODIARIO_GASTO_CAJA]
      ,[PROYEC],[SECCIO],[JUSSER],[SISTEM],[MONEDA]
      ,[CAMBIO],[PRODUCCION_DEBE_CODIGO],[PRODUCCION_DEBE_TEXTO],[PRODUCCION_HABER_CODIGO],[PRODUCCION_HABER_TEXTO]
      ,[FACTURACION_DEBE_CODIGO],[FACTURACION_DEBE_TEXTO],[FACTURACION_HABER_CODIGO],[FACTURACION_HABER_TEXTO],[COBROS_DEBE_CODIGO]
      ,[COBROS_DEBE_TEXTO],[COBROS_HABER_CODIGO],[COBROS_HABER_TEXTO],[ZONA_FISCAL_EMPRESA],[ZONA_FISCAL_TERCERO]
      ,[CUENTA_COBROS_CREDITO],[BASE_RAIZ],[TAMANYO_RAIZ],[TAMANYO_CODCLIENTE],[PRODUCTO]
      ,[CUENTA_TAX],[SERIE_FACTURACION],[SERIE_ABONO],[TRASPASAR_COBROS_CREDITOS],[CODIDIOMA]
      ,[CUENTA_CITY_TAX],[DESCRIPTIVO_FACTURAS_RECTIFICATIVAS],[TRASPASO_NAVISION_ESPECIAL],[INDICADOR_IVA0],[INDICADOR_IVA1]
      ,[INDICADOR_IVA2],[INDICADOR_IVA3],[CUENTA_PRODUCCION],[CENTRO_COSTE],[GENERAR_CUENTA_CLIENTES_PART],[GENERAR_COMISIONES_FACTURAS]
      ,[INCLUIR_DATOS_SII],[TRASPASO_CONTAPLUS_ESPECIAL],[RUTA_TRASPASO_EXPORTACION],[INDICADOR_EXT_IVA0],[INDICADOR_EXT_IVA1]
      ,[INDICADOR_EXT_IVA2],[INDICADOR_EXT_IVA3]
	 
FROM [HOTEL_CONFIG_CONTABLE] WHERE FK_CODIGOHOT = @COD_OLD

UPDATE HOTELES
SET DIR_LOGO = @RUTALOGO
WHERE CODIGOHOT = @CODIGOHOT

END TRY
BEGIN CATCH
SELECT ERROR_MESSAGE()
SET @ERROR = ERROR_MESSAGE()
END CATCH


IF @ERROR <> ''
 BEGIN
   
   INSERT INTO INSTALACION_LOG_ERROR VALUES (getdate(),@CODIGOHOT,'RUTAS',@CODIGOHOT,@ERROR)
  END ELSE  INSERT INTO INSTALACION_LOG_ERROR VALUES (getdate(),@CODIGOHOT,'RUTAS',@CODIGOHOT,'OK');

END


