

CREATE PROCEDURE [dbo].[SP_INSTALACION_SEGMENTOS_ORIGENES]

@CODSEGMENTO VARCHAR (5),
@DESCSEGMENTO VARCHAR (200),
@CODORIGEN VARCHAR (5),
@DESCORIGEN VARCHAR (200),
@CASA INT,
@ESSEGMENTO INT,
@CODIGOHOT VARCHAR (5),
@ERROR VARCHAR (200) OUTPUT

AS
BEGIN
	SET NOCOUNT ON;
SET @ERROR = NULL
IF @ESSEGMENTO = 1
BEGIN

/*INTRODUCE SEGMENTO */
BEGIN TRY
    INSERT INTO SEGMENTOS ([CODIGOSEG],[DESCRISEG],[FORSYNCRO],[ACTIVO],[USO_CASA],[ORDEN],[VISIBLE_SC],[FK_CODGRUPO_ESTADISTICO]) 
    VALUES(@CODSEGMENTO,@DESCSEGMENTO,'0','1',@CASA,'10','1',NULL)

   
END TRY
BEGIN CATCH
SELECT ERROR_MESSAGE()
SET @ERROR = ERROR_MESSAGE()
END CATCH


IF @ERROR <> ''
 BEGIN
   
   INSERT INTO INSTALACION_LOG_ERROR VALUES (getdate(),@CODIGOHOT,'INSERTAR SEGMENTO',@CODSEGMENTO,@ERROR)
   END ELSE  INSERT INTO INSTALACION_LOG_ERROR VALUES (getdate(),@CODIGOHOT,'INSERTAR SEGMENTO',@CODSEGMENTO,'OK');

END




ELSE BEGIN
/*INTRODUCE ORIGEN */

BEGIN TRY
    INSERT INTO ORISRESERVA ([CODIGOORR],[DESCRIORR],[ORDEN],[ACTIVO],[FK_CODGRUPO_ESTADISTICO]) 
    VALUES (@CODORIGEN,@DESCORIGEN,'10','1',NULL )


   
END TRY
BEGIN CATCH
SELECT ERROR_MESSAGE()
SET @ERROR = ERROR_MESSAGE()
END CATCH


IF @ERROR <> ''
 BEGIN
   
   INSERT INTO INSTALACION_LOG_ERROR VALUES (getdate(),@CODIGOHOT,'INSERTAR ORIGEN',@CODORIGEN,@ERROR)
   END ELSE  INSERT INTO INSTALACION_LOG_ERROR VALUES (getdate(),@CODIGOHOT,'INSERTAR ORIGEN',@CODORIGEN,'OK');



END
END
