
CREATE PROCEDURE [dbo].[SP_INSTALACION_TIPOSHAB]
@CODIGOTIHA VARCHAR (5),
@DESCRITIHA VARCHAR (20),
@CODIGOHOT VARCHAR (5),
@ERROR VARCHAR (200) OUTPUT

AS
BEGIN
	SET NOCOUNT ON;


DECLARE @DUPLICADA INT = 0
BEGIN TRY 
     IF NOT EXISTS ( SELECT * FROM TIPOSHAB WHERE CODIGOTIHA = @CODIGOTIHA)
     BEGIN
       INSERT INTO TIPOSHAB ([CODIGOTIHA],[DESCRITIHA],[ORDEN],[ORDEN_PLANNING])
       VALUES (@CODIGOTIHA, @DESCRITIHA, '10', '10') 
       SET @DUPLICADA = 0
     END
     ELSE   SET @DUPLICADA = 1 
END TRY
BEGIN CATCH
SELECT ERROR_MESSAGE()
SET @ERROR = ERROR_MESSAGE()
END CATCH

IF @DUPLICADA = 1
 BEGIN 
   INSERT INTO INSTALACION_LOG_ERROR VALUES (getdate(),@CODIGOHOT,'INSERTAR TIPOSHAB',@CODIGOTIHA,'TIPOLOGIA YA EXISTE')
 END ELSE
BEGIN
IF @ERROR <> ''
 BEGIN
   
   INSERT INTO INSTALACION_LOG_ERROR VALUES (getdate(),@CODIGOHOT,'INSERTAR TIPOSHAB',@CODIGOTIHA,@ERROR)
  END ELSE  INSERT INTO INSTALACION_LOG_ERROR VALUES (getdate(),@CODIGOHOT,'INSERTAR TIPOSHAB',@CODIGOTIHA,'OK');
 END
END
