
-- =============================================
-- Author:		AG & MG
-- Create date: 27/11/2018
-- Description:	CREAR CONCEPTOS EN CONCSPRODUC Y RELCONCSPRODUC A PARTIR DE CONFIGURACION DE TIPO (DEL 1 AL 5)
/*
1- HABITACION
2- EXTRAS HABITACION
3- VARIOS
4- RESTAURACION
5- DEPOSITOS
*/
-- =============================================
CREATE PROCEDURE [dbo].[SP_CREAR_CONCEPTO] 
	@CODIGOHOT VARCHAR(3),
	@CODIGOCP VARCHAR(5),
	@DESCRIPCION VARCHAR(30),
	@TIPO INT,
	@IVA INT,
	@ID_COBRO INT
AS
BEGIN

IF (@ID_COBRO = 0)
BEGIN
		SET @ID_COBRO = NULL
END


IF NOT EXISTS (SELECT CODIGOCP FROM CONCSPRODUC WHERE CODIGOCP = @CODIGOCP )
BEGIN
	BEGIN TRY 
		
		EXEC.SP_CREAR_CONCEPTO_CONCSPRODUC @CODIGOCP, @DESCRIPCION, @TIPO, @IVA
		EXEC.SP_CREAR_CONCEPTO_RELCONCSPRODUC @CODIGOHOT, @CODIGOCP, @DESCRIPCION, @TIPO,@IVA, @ID_COBRO
	END TRY
	BEGIN CATCH
		INSERT INTO INSTALACION_LOG_ERROR
		VALUES(GETDATE(), @CODIGOHOT,'CREAR CONREL', @CODIGOCP, ERROR_MESSAGE())
	END CATCH
	
	END
ELSE
	BEGIN
		IF NOT EXISTS (SELECT CODIGOCP FROM RELCONCSPRODUC WHERE CODIGOCP = @CODIGOCP AND CODIGOHOT = @CODIGOHOT)
			BEGIN TRY
				BEGIN
				EXEC.SP_CREAR_CONCEPTO_RELCONCSPRODUC @CODIGOHOT, @CODIGOCP, @DESCRIPCION, @TIPO,@IVA, @ID_COBRO
				END
			END TRY
			BEGIN CATCH
				INSERT INTO INSTALACION_LOG_ERROR
				VALUES(GETDATE(), @CODIGOHOT,'CREAR REL', @CODIGOCP, ERROR_MESSAGE())
			END CATCH

			
	END
END
