CREATE PROCEDURE [dbo].[SP_INSTALACION_COBRO]
@CODIGOHOT VARCHAR (5),
@CODIGO VARCHAR (10),  
@DESCRIPCION VARCHAR (50),
@TIPO VARCHAR (1),
@CUENTA VARCHAR (50),
@CREDITO BIT,
@ACTIVO_CREDITO BIT,
@ACTIVO_COBRO BIT,
@ERROR VARCHAR (500) OUTPUT

AS
BEGIN
	SET NOCOUNT ON;
SET @ERROR = 'OK'
BEGIN TRY  
   
   DECLARE @CODREL VARCHAR (10) = CONCAT('$', @CODIGO)
   BEGIN TRY
   INSERT INTO TIPO_COBRO
   VALUES (@CODIGO, @DESCRIPCION,@TIPO,@CREDITO,@CUENTA,0,1,1,0,@ACTIVO_COBRO,@ACTIVO_CREDITO,'A',0,0)
   END TRY
   BEGIN CATCH
   END CATCH

   BEGIN TRY
   DECLARE @ID_COBRO INT = (SELECT TOP 1 ID_COBRO FROM TIPO_COBRO WHERE CODCOBRO = @CODIGO)
   INSERT INTO HOTEL_TIPO_COBRO
   VALUES  (@CODIGOHOT, @ID_COBRO, @CODIGO, @DESCRIPCION,@TIPO,@CREDITO,@CUENTA,0,1,1,0,@ACTIVO_COBRO,@ACTIVO_CREDITO,'A','','',0,0,0,'','',NULL,1)
    END TRY
   BEGIN CATCH
   END CATCH

   BEGIN TRY
   INSERT INTO CONCSPRODUC 
   VALUES (@CODREL	,@DESCRIPCION	,''	,''	,'0'	,'0'	,'D'	,'0'	,'0'	,''	,' '	,''	,'0'	,'0'	,'0'	,'H'	,'P'	,'0'	,''	,''	,''	,'0'	,'0'	,''	,'1'	,'1'	)
    END TRY
   BEGIN CATCH
   END CATCH

   BEGIN TRY
   INSERT INTO RELCONCSPRODUC
   VALUES (@CODIGOHOT	,@CODREL	,@DESCRIPCION	,@CODREL	,'0'	,'0'	,'0'	,''	,''	,''	,'D'	,'0'	,'0'	,''	,'$TCOB'	,' '	,' '	,'0'	,'H'	,'0'	,'P'	,''	,''	,''	,'0'	,'0'	,''	,'C'	,'C'	,'1'	,'1'	,NULL	,NULL	,'0'	,'0'	,'1'	,'1'	,NULL	,NULL	,'0'	,'1'	,'0'	,'1'	,'0','0'	)
    END TRY
   BEGIN CATCH
   END CATCH

   --SELECT * FROM RELCONCSPRODUC


   --SELECT * FROM HOTEL_TIPO_COBRO


END TRY
BEGIN CATCH
SELECT ERROR_MESSAGE()
SET @ERROR = ERROR_MESSAGE()
END CATCH


IF @ERROR <> ''
 BEGIN
   
   INSERT INTO INSTALACION_LOG_ERROR VALUES (getdate(),@CODIGOHOT,'INSERTAR COB',@CODIGO,@ERROR)
  END ELSE  INSERT INTO INSTALACION_LOG_ERROR VALUES (getdate(),@CODIGOHOT,'INSERTAR COB',@CODIGO,'OK');

END


