CREATE PROCEDURE [dbo].[SP_INSTALACION_CHECKIN]
	@COD_NEW VARCHAR (5)
AS
BEGIN

DROP TABLE TMP_TRASPASO_REALIZAR_CHECKINS

CREATE TABLE TMP_TRASPASO_REALIZAR_CHECKINS (
	ID_DRESERVA		INT,
	CODIGOHOT		VARCHAR(3),
	CODHAB_ORIGINAL	VARCHAR(5),
	FECHA_CREACION	DATETIME,
	FECHA_OK		DATETIME	NULL,
	FECHA_ERROR		DATETIME	NULL,
	RESULTADO		INT			NULL
	
	PRIMARY KEY (ID_DRESERVA)
)

--------------------------------
------ SELECCION DE REGISTROS --
------------------------------

INSERT INTO TMP_TRASPASO_REALIZAR_CHECKINS
(ID_DRESERVA,CODIGOHOT,CODHAB_ORIGINAL,FECHA_CREACION)
SELECT DR.ID, DR.CODIGOHOT, DR.FK_CODHAB, GETDATE()--,DR.ESTADO
FROM CRS_DRESERVA DR Left Join HOTEL_HABITACION H On (H.FK_CODIGOHOT = DR.CODIGOHOT) And (H.CODHAB = DR.FK_CODHAB)
WHERE DR.CODIGOHOT = @COD_NEW AND DR.FK_CODCONDICION = 'CKI' 
ORDER BY FK_CODHAB


/*
Select * From CRS_DRESERVA Where ID = 67988 
Select * From CRS_MRESERVA Where ID = 101221 
Select * From TRASPASO_MAESTRO Where CODIGOHOT = '004' And ENtidad = 'ESTADO' 
SELECT * FROM TMP_TRASPASO_REALIZAR_CHECKINS Left Join HOTEL_HABITACION 
       On HOTEL_HABITACION.FK_CODIGOHOT = TMP_TRASPASO_REALIZAR_CHECKINS.CODIGOHOT And 
	      HOTEL_HABITACION.CODHAB = TMP_TRASPASO_REALIZAR_CHECKINS.CODHAB_ORIGINAL
Select * From CRS_DRESERVA Where (ID = 136176) 
*/

-------------
-- PROCESO --
-------------

DECLARE @MYID_DRESERVA	INT
DECLARE @MYCODHAB		VARCHAR(5)
DECLARE @MYCODIGOHOT	VARCHAR(3) = NULL
DECLARE @MYRESULTADO	INT

DECLARE traspaso_cursor CURSOR LOCAL FAST_FORWARD
FOR
SELECT  ID_DRESERVA, CODHAB_ORIGINAL, CODIGOHOT
FROM TMP_TRASPASO_REALIZAR_CHECKINS
WHERE CODIGOHOT = @COD_NEW AND (FECHA_OK IS NULL AND FECHA_ERROR IS NULL)

--SELECT (Select ID_MRESERVA From CRS_DRESERVA DR (NOLOCK) Where (DR.ID = ID_DRESERVA)),  (Select LOCALIZADOR_SRC From CRS_DRESERVA DR (NOLOCK) Where (DR.ID = ID_DRESERVA)), *
--FROM TMP_TRASPASO_REALIZAR_CHECKINS WHERE FECHA_OK IS NULL
--ORDER BY (Select LOCALIZADOR_SRC From CRS_DRESERVA DR (NOLOCK) Where (DR.ID = ID_DRESERVA)) 

OPEN traspaso_cursor
FETCH NEXT FROM traspaso_cursor 
INTO @MYID_DRESERVA,@MYCODHAB,@MYCODIGOHOT

WHILE (@@FETCH_STATUS = 0)
BEGIN
	-- procesamos el registro actual
	UPDATE CRS_DRESERVA
	SET FK_CODCONDICION = ''
	WHERE ID = @MYID_DRESERVA
	
	UPDATE HOTEL_CONFIG
	SET FECHA = (SELECT CHECKIN FROM CRS_DRESERVA (NOLOCK) WHERE ID = @MYID_DRESERVA)
	WHERE FK_CODIGOHOT = @MYCODIGOHOT
	
	EXEC dbo.SP_CHECKIN @MYID_DRESERVA,@MYCODIGOHOT,@MYCODHAB,1,@MYRESULTADO OUTPUT
	
	UPDATE TMP_TRASPASO_REALIZAR_CHECKINS
	SET FECHA_OK = CASE WHEN @MYRESULTADO = 0 THEN GETDATE() ELSE NULL END,
	    FECHA_ERROR = CASE WHEN @MYRESULTADO <> 0 THEN GETDATE() ELSE NULL END,
	    RESULTADO	= @MYRESULTADO 
	WHERE ID_DRESERVA = @MYID_DRESERVA

	-- Siguiente Registro
	FETCH NEXT FROM traspaso_cursor 
	INTO @MYID_DRESERVA,@MYCODHAB,@MYCODIGOHOT
END

CLOSE traspaso_cursor
DEALLOCATE traspaso_cursor

IF @COD_NEW > '' 
BEGIN
	UPDATE HOTEL_CONFIG
	SET FECHA = GETDATE()
	WHERE FK_CODIGOHOT = @COD_NEW
END

END
