

CREATE PROCEDURE [dbo].[SP_INSTALACION_CARACTERISTICA]
@CODIGOHOT VARCHAR (5),
@CARACT VARCHAR (20),
@DESC_CARACT VARCHAR (25),
@TIPO VARCHAR (25),
@DESCHAB VARCHAR (20),
@ORDEN INT

AS
BEGIN
	SET NOCOUNT ON;

DECLARE @ERROR VARCHAR (250)


IF @DESCHAB = ''
BEGIN


   BEGIN TRY  
      INSERT INTO [CARACTERISTICAS]([CODIGOCAR],[DESCRICAR],[TIPO],[COD_DESCRIPCION],[GRUPO]) 
      VALUES (@CARACT,@DESC_CARACT,@TIPO,NULL,NULL)
       
        
       END TRY
   BEGIN CATCH
   SELECT ERROR_MESSAGE()
   SET @ERROR = ERROR_MESSAGE()
   END CATCH
   
   
   IF @ERROR <> ''
    BEGIN
      
      INSERT INTO INSTALACION_LOG_ERROR VALUES (getdate(),@CODIGOHOT,'CREA CARACT',@CARACT,@ERROR)
     END ELSE  INSERT INTO INSTALACION_LOG_ERROR VALUES (getdate(),@CODIGOHOT,'CREA CARACT',@CARACT,'OK');
   
   
END ELSE 
BEGIN



   BEGIN TRY  
       INSERT INTO [HOTEL_HABITACION_CARACT]([FK_CODIGOHOT],[FK_CODHAB],[FK_CODCARACT],[ORDEN])
       VALUES (@CODIGOHOT,(SELECT CODHAB FROM HOTEL_HABITACION WHERE DESCHAB = @DESCHAB AND FK_CODIGOHOT = @CODIGOHOT),@CARACT,@ORDEN) 
       select * from INSTALACION_LOG_ERROR
        
       END TRY
   BEGIN CATCH
   SELECT ERROR_MESSAGE()
   SET @ERROR = ERROR_MESSAGE()
   END CATCH
   
   
   IF @ERROR <> ''
    BEGIN
      
      INSERT INTO INSTALACION_LOG_ERROR VALUES (getdate(),@CODIGOHOT,'INSERTAR CARACT',@DESCHAB,@ERROR)
     END ELSE  INSERT INTO INSTALACION_LOG_ERROR VALUES (getdate(),@CODIGOHOT,'INSERTAR CARACT',@DESCHAB,'OK');
 END  
END


