
    
CREATE PROCEDURE [dbo].[SP_INSTALACION_HOTEL_TIPOHAB]
@CODIGOHOT VARCHAR (5),
@CODTIPOHAB VARCHAR (5),
@DESCRITIHA VARCHAR (20),
@SALA INT,
@ERROR VARCHAR (200) OUTPUT

AS
BEGIN
	SET NOCOUNT ON;

DECLARE @DUPLICADA INT = 0
BEGIN TRY
SET @ERROR = NULL
    IF NOT EXISTS ( SELECT * FROM HOTEL_TIPO_HAB WHERE [FK_CODIGOHOT] = @CODIGOHOT AND CODTIPOHAB = @CODTIPOHAB)
     BEGIN
       INSERT INTO HOTEL_TIPO_HAB ([FK_CODIGOHOT],[CODTIPOHAB],[DESCRIPCION],[FK_CODIGOTIHA],[COMPUESTA],[SUMAPLAN],[ORDEN],[ORDEN_PLANNING],[FK_CODGRUPOTIPOHAB],[SUMAVENTAHAB],[GRUPO_HURDLE])
       VALUES(@CODIGOHOT,@CODTIPOHAB,@DESCRITIHA,@CODTIPOHAB,'0',@SALA,'10','10',NULL,@SALA,NULL)
	   SET @DUPLICADA = 0
     END
     ELSE  SET @DUPLICADA = 1 
END TRY
BEGIN CATCH
SELECT ERROR_MESSAGE()
SET @ERROR = ERROR_MESSAGE()
END CATCH

IF @DUPLICADA = 1
 BEGIN 
   INSERT INTO INSTALACION_LOG_ERROR VALUES (getdate(),@CODIGOHOT,'INSERTAR HOTEL_TIPO_HAB',@CODTIPOHAB,'TIPOLOGIA YA EXISTE')
 END ELSE
BEGIN
IF @ERROR <> ''
 BEGIN
   
   INSERT INTO INSTALACION_LOG_ERROR VALUES (getdate(),@CODIGOHOT,'INSERTAR HOTEL_TIPO_HAB',@CODTIPOHAB,@ERROR)
   END ELSE  INSERT INTO INSTALACION_LOG_ERROR VALUES (getdate(),@CODIGOHOT,'INSERTAR HOTEL_TIPO_HAB',@CODTIPOHAB,'OK');
 END
END
