

CREATE PROCEDURE [dbo].[SP_INSTALACION_RACK]
@CODHAB VARCHAR (10),  
@DESCHAB VARCHAR (20),
@CODIGOHOT VARCHAR (5),
@TIPOHAB VARCHAR (20),
@PLANTA INT,
@ERROR VARCHAR (500) OUTPUT

AS
BEGIN
	SET NOCOUNT ON;
SET @ERROR = 'OK'
BEGIN TRY  
    INSERT INTO HOTEL_HABITACION ([FK_CODIGOHOT],[CODHAB],[DESCRIPCION],[FK_TIPOHAB],[CAMAS],[FK_SITUACION],[FK_ESTADO],[ORDEN],[ACTIVA],[DESCHAB],[NUM_CEXTRAS],[NUM_CUNAS],[UNIDAD_DECLARACION],[CUENTA_MAXHAB],[RETENIDA],[FK_CODTIPOHAB_ESTADISTICO])
    VALUES	(@CODIGOHOT,@CODHAB,@DESCHAB,@TIPOHAB,'0','LI','L',@CODHAB,'1',@DESCHAB,'0','0',NULL,'1','0',NULL)
    INSERT INTO HOTEL_MODULO_HAB ([FK_CODIGOHOT],[CODMODHAB],[DESCRIPCION],[CAMAS],[PLANTA],[ZONA],[FK_SITUACION],[FK_TIPOHAB],[ORDEN],[ACTIVO],[DESCMODHAB],[SECCION])
    VALUES 	(@CODIGOHOT,@CODHAB,@DESCHAB,'0',@PLANTA,'','',@TIPOHAB,@CODHAB,'1',@DESCHAB,'0')
    INSERT INTO  HOTEL_MODULO_HAB_FECHA ([FK_CODIGOHOT],[FK_CODMODHAB],[FECHA_DESDE],[FECHA_HASTA]) 
    VALUES 	(@CODIGOHOT,@CODHAB,'01/01/2014',null)
    INSERT INTO REL_HOTEL_HABITACION_HABMOD ([FK_CODIGOHOT],[FK_CODHAB],[FK_CODMODHAB],[ORDEN]) 
    VALUES 	(@CODIGOHOT,@CODHAB,@CODHAB,@CODHAB)



END TRY
BEGIN CATCH
SELECT ERROR_MESSAGE()
SET @ERROR = ERROR_MESSAGE()
END CATCH


IF @ERROR <> ''
 BEGIN
   
   INSERT INTO INSTALACION_LOG_ERROR VALUES (getdate(),@CODIGOHOT,'INSERTAR HAB',@DESCHAB,@ERROR)
  END ELSE  INSERT INTO INSTALACION_LOG_ERROR VALUES (getdate(),@CODIGOHOT,'INSERTAR HAB',@DESCHAB,'OK');

END


