

CREATE PROCEDURE [dbo].[SP_TEST] 
   @pID_DRESERVA		 integer,
   @pFK_CODIGOHOT		varchar(3),
   @pFK_CODHAB			varchar(5),
   @pFORZAR_SITUACION	bit, -- si es 1 no se tiene en cuenta la situacion actual de la habitacion
   @pRESULTADO			int OUTPUT

 AS
	/* primero miramos si el DRESERVA esta en fecha de hotel, estado es confirmada y FK_CODCONDICION = '' */
	
	
	DECLARE @MYFECHAHOTEL				DATETIME
	DECLARE @MYCHECKINRESERVA			DATETIME
	DECLARE @MYCODESTADORESERVA			VARCHAR(5)
	DECLARE @MYFK_CODCONDICIONRESERVA	VARCHAR(3)
	DECLARE @MYCANTIDADHABSRESERVA		INT
	
	
	SELECT @MYFECHAHOTEL			= dbo.FN_GET_FECHA_HOTEL(@pFK_CODIGOHOT)
	SET @MYCHECKINRESERVA			= NULL
	SET @MYCODESTADORESERVA			= NULL
	SET @MYFK_CODCONDICIONRESERVA	= NULL
	SET @MYCANTIDADHABSRESERVA		= NULL
	
	SELECT @MYCHECKINRESERVA			= DR.CHECKIN,
		   @MYCODESTADORESERVA			= DR.ESTADO,
		   @MYFK_CODCONDICIONRESERVA	= DR.FK_CODCONDICION,
		   @MYCANTIDADHABSRESERVA		= DR.CANTIDAD
	FROM CRS_DRESERVA DR(NOLOCK)
	WHERE DR.ID = @pID_DRESERVA	
	
	IF (@MYFECHAHOTEL = @MYCHECKINRESERVA) AND
	   (@MYCODESTADORESERVA	= 'OK') AND
	   (@MYFK_CODCONDICIONRESERVA = '') AND
	   (@MYCANTIDADHABSRESERVA = 1)
	BEGIN
		-- miramos que se pueda hacer checkin sobre la habitacion
		
		IF (@pFORZAR_SITUACION = 0)
		BEGIN
			EXEC SP_PUEDO_CAMBIAR_SITUACION_HAB @pID_DRESERVA,@pFK_CODIGOHOT,@pFK_CODHAB,'CKI',NULL,NULL,@pRESULTADO OUTPUT 
		END
		ELSE
		BEGIN
			SET @pRESULTADO = 0
		END
		
		IF (@pRESULTADO = 0)
		BEGIN
		
		-- MIRAMOS SI ESTE DETALLE DE RESERVA SE HA DE INCLUIR DENTRO DE LA MASTER Y CREAMOS UNA ORDEN AUTOMATICAMENTE
			
			DECLARE @MYDUMMY_ID_FOLIO_MASTER	INT
			
			EXEC dbo.SP_FOF_DRESERVA_COMPROBAR_MASTER @pID_DRESERVA,@pFK_CODIGOHOT,@MYDUMMY_ID_FOLIO_MASTER OUTPUT	
	-- 	    Print @pID_DRESERVA
	--	    Print @pFK_CODIGOHOT
	-- 	    Print @pFK_CODHAB
			-- actualizamos FOF_HABITACION_BOOKING los registros de la reserva indicando la habitacion seleccionada
			UPDATE FOF_HABITACION_BOOKING
			SET FK_CODHAB = @pFK_CODHAB
			WHERE ID_CRS_DRESERVA = @pID_DRESERVA -- es unico para toda la base de datos, no importa el hotel
			-- ponemos la reserva en situacion de CheckIn
			UPDATE CRS_DRESERVA
			SET FK_CODCONDICION = 'CKI', FK_CODHAB = @pFK_CODHAB
			WHERE ID = @pID_DRESERVA
			-- indicamos la situacion de la habitacion como Ocupada
			UPDATE HOTEL_HABITACION
			SET FK_SITUACION = 'O'
			WHERE FK_CODIGOHOT = @pFK_CODIGOHOT AND CODHAB = @pFK_CODHAB
			-- creamos los folios
			EXEC dbo.SP_FOF_CREAR_FOLIOS_HABITACION @pID_DRESERVA,@pRESULTADO OUTPUT 
	--		Print 'Crear Folios habitacion'
	--		Print @pRESULTADO 
			IF (@pRESULTADO = 0) 
			BEGIN
			  Declare @ID_FOLIO int
			  SET @ID_FOLIO	= NULL
			  Select @ID_FOLIO = ID 
				From FOF_FOLIO 
				Where ((FK_ID_DRESERVA = @pID_DRESERVA) and (SITUACION_FOLIO = 'I'))
			  -- si no hay folio inicial que hacemos???
			  IF (@ID_FOLIO IS NOT NULL) AND (@ID_FOLIO > 0)
			  BEGIN
				EXEC dbo.SP_TRASPASO_FOLIO_CHECKIN @ID_FOLIO, @pID_DRESERVA, @pRESULTADO output
			  END
			End 
		END
	END
	ELSE
	BEGIN
		SET @pRESULTADO = -50
	END
